/*
 * Author:  Rost Shevtsov ( herclia )
 * project: TypeHello, 2013
 * product: Web-Communicator ( TypeHello ) Channel2Channel
 * file:    wall-hub.scss
 */


/* -------------------------------------------------------------------------- talk-hub */

.wall-hub {
  width:  330px;
  position: fixed;
}

.wall-hub {
  .light-gray-line-2 {
    width: 36px;
  }
}

/* ----------------------------------------------------------------------- wall-list */

.wall-hub .wall-list {
  margin: 0 0 18px 9px;
  font-size: 100%;
  //max-height: 360px;
}

/* ------------------------------------------------------------- wall-list-view-ctrl */

#wall-list-view-ctrl {
  overflow-y: auto;
  max-height: 630px;
  padding: 9px;
  overflow-x: hidden;
}

#wall-list-view-ctrl li {
  background: none;
}

#wall-list-view-ctrl .th-user-actions .th-glyph {
  color: gray;
  font-size: 18px;
  text-shadow: 1px 1px white;
}

/* ---------------------------------------------------- wall-list-view-item-template */

#wall-list-view-ctrl .wall-list-view-item-template {
  position: relative;
  width: 78%;
  left: 18%;
  text-align: left;
}

#wall-list-view-ctrl aside {
  position: absolute;
  display: block;
  width: 27%;
  left: -27%;
  height: 100%;
  background: transparent;
}

#wall-list-view-ctrl .template-image {
  width: 45px;
  height: 45px;
  margin: auto;
}

#wall-list-view-ctrl .wall-list-view-item-comment-template {
  position: relative;
  width: 78%;
  left: 18%;
  text-align: left;
  clear: both;
  top: 3px;
}

#wall-list-view-ctrl .wall-list-view-item-comment-template aside {
  position: absolute;
  display: block;
  width: 24%;
  left: -27%;
  height: 100%;
  background: transparent;
}

#wall-list-view-ctrl .wall-list-view-item-comment-template .template-image {
  width: 27px;
  height: 27px;
  margin: auto;
}

#wall-list-view-ctrl .wall-list-view-item-comment-template .template-nick {
  //margin-top: 3px;
  font-size: 12px;
  font-weight: bold;
}

#wall-list-view-ctrl .template-date span {
  position: relative;
  float: right;
  font-size: 9px;
}

#wall-list-view-ctrl .template-nick {
  margin-top: 11px;
  font-size: 15px;
  font-weight: bold;
  word-wrap: break-word;
}

#wall-list-view-ctrl .template-title {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 100;
  word-wrap: break-word;
}

#wall-list-view-ctrl .template-title span {
  font-weight: bold;
}

#wall-list-view-ctrl .template-pic {
  //width: inherit;
}

#wall-list-view-ctrl .template-text {
  margin-top: 6px;
  font-size: 12px;
  word-wrap: break-word;
}

#wall-list-view-ctrl .template-link {
  margin-top: 6px;
  font-size: 12px;
  width: inherit;
  word-wrap: break-word;
}

#wall-list-view-ctrl .template-link a {
  color: #4682B4;
}

#wall-list-view-ctrl .template-pic img {
  height: auto;
  width: 100%;
  float: left;
  margin-top: 9px;
  margin-bottom: 11px;
}

#wall-list-view-ctrl .template-text span {
  color: black!important;
}

#wall-list-view-ctrl .template-action {
  margin-top: 9px;
  font-size: 9px;
  text-transform: uppercase;
}

#wall-list-view-ctrl .template-action span {
  color: #23a96e;
}

#wall-list-view-ctrl .template-action .th-user-actions {
  position: relative;
  //top: -9px;
  float: right;
  opacity: 0.0;
  cursor: pointer;
}

//#wall-list-view-ctrl .template-action .th-user-actions:hover {
//  opacity: 1.0;
//}

#wall-list-view-ctrl .template-action .th-user-actions li {
  float: left;
  margin-left: 6px;
  margin-top: -6px;
}

#wall-list-view-ctrl hr {
  position: relative;
  //top: -6px;
  //margin-top: 6px;
  border-top:    1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.wall-hub ul.wall-list-view-comments-ctrl {
  width: 99%;
}


/* -------------------------------------------------- for small resolution of monitors */

@media screen and (max-height: 900px) {
  #wall-list-view-ctrl {
    max-height: 336px;
  }

  .wall-hub {
    width:  270px;
  }

  #wall-list-view-ctrl .template-text {
    font-size: 11px;
  }

  #wall-list-view-ctrl .template-title {
    font-size: 12px;
  }

  #wall-list-view-ctrl .template-image {
    width: 36px;
    height: 36px;
  }

  #wall-list-view-ctrl .th-user-actions .th-glyph {
    font-size: 15px;
  }
}

/*
    75% - 100%
    25% - ???
    -----------
    25% * 100% / 75% = 33.33%
*/

/*#wall-list-view-ctrl aside {*/
/*position: absolute;*/

/*display: block;*/
/*width: 55%;*/
/*left: -55%;*/
/*height: 100%;*/

/*background-color: #F88888;*/
/*}*/

/* ----------------------------------------------------------------------------------- */


