$green-background: #48a770;

.hub-center {
  //width: 300px;
  position: fixed;
  top: 15px !important;
  left: 15px !important;

  .th-logo-menu {
    width: 27px;
    height: 27px;
    background: url(../../img/rabbit-white.png) no-repeat;
    background-size: contain;

    &:hover {
      cursor: pointer;
    }
  }
}

.hub-center  {

  .th-slide-menu {
    position: fixed;
    border: 1px solid white;
    box-shadow: 0 0 11px rgba(0,0,0,0.6);

    //.th-slide-menu-ul {

      //.th-slide-menu-separator {

        .th-slide-menu-separator-text {
          font-size: 10px;
        }

        .th-slide-menu-item {
          margin: 6px 27px;

          .th-slide-menu-content {
            font-size: 11px;
            color: darken(#23a96e,20) ;
          }
        }
      //}
    //}
  }
}

.btn-logo-div {
  top:    9px;
  left:   9px;
  float:  left;
  height: 54px;
  width:  54px;
  background: $green-background;
  position: absolute;
  border: 2px solid white;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  position: fixed;
}

.hub-center-btn  {
  position: relative;
  top:    50%;
  left:   50%;
  height: 27px;
  width:  27px;
  margin-left: -13px;
  margin-top: -13px;
}

.hub-center-header {
  position: relative;
  width: 60%;
  height: 60px;
  margin: 18px auto;
}

.hub-center-title {
  float: left;
  font-size: 27px;
  line-height: 60px;
  color: #306754;
  font-weight: 300;
}

.hub-center-logo {
  height: 18px;
  width: 18px;
  float: right;
  margin-right: 3%;
}

.hub-center-menu {
  margin-bottom: 60px;

  .th-glyph:before {
    margin-right: 12px;
  }
}

.hub-center-menu ul li div {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  color: #f3efe0;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);

  &:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: #fff;
  }
}



