/*
 * Author:  Rost Shevtsov ( herclia )
 * project: TypeHello, 2013
 * product: Web-Communicator ( TypeHello ) Channel2Channel
 * file:    note-hub.scss
 */


/* -------------------------------------------------------------------------- note-hub */

.note-hub {
  width:  360px;
  position: fixed;
}

.note-hub {
  .light-gray-line-2 {
    width: 42px;
  }

  .th-circle-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .th-circle-btn:after {
    content: "\e009";
  }

  #btn-input-search-notes {
    float: left;
    font-size: 15px;
    margin-top: -3px;
    margin-left: 9px;

    &:hover {
      cursor: pointer;
      color: black;
      width: 36px;
      height: 36px;
      line-height: 36px;
    }
  }
}

/* ----------------------------------------------------------------------- note-list */

.note-hub .note-list {
  margin: 0 0 18px 9px;
  font-size: 100%;
  position: relative;
}

/* ------------------------------------------------------------- note-list-view-ctrl */

#note-list-view-ctrl {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 630px;
  padding: 0 9px;
}

#note-list-view-ctrl li {
  background: none;
}

/* ---------------------------------------------------- note-list-view-item-template */

#note-list-view-ctrl .note-list-view-item-template {
  width: 96%;
  text-align: left;
  margin-bottom: 18px;
  margin-left: 3%;
}

#note-list-view-ctrl .template-date span {
  position: relative;
  float: right;
  font-size: 9px;
  right: 9px;
  top: -11px;
}


#note-list-view-ctrl .template-nick {
  margin-top: 11px;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
  min-height: 24px;
}

#note-list-view-ctrl .template-nick span {
  position: relative;
  top: 3px;
  left: 9px;
}

#note-list-view-ctrl .template-image {
  width: 27px;
  height: 27px;
  float: left;
}

#note-list-view-ctrl .template-pic {
  width: 100%;
  float: left;
}

#note-list-view-ctrl .template-pic img {
  height: auto;
  width: auto;
  margin-top: 9px;
  max-width: 96%;
  margin-bottom: 11px;
}

#note-list-view-ctrl .template-favicon {
  float: left;
  background-size: contain;
  width: 27px;
  height: 27px;
}

#note-list-view-ctrl .th-glyph {
  float: left;
  font-size: 15px;
}

.note-status-define {
  background: url( ../../img/bookmark-blue.png ) no-repeat;
}

.note-status-progress {
  background: url( ../../img/bookmark-red.png ) no-repeat;
}

.note-status-complete {
  background: url( ../../img/bookmark-green.png ) no-repeat;
}

#note-list-view-ctrl .note-list-view-item-note-template {
  position: relative;
  width: 78%;
  left: 18%;
  text-align: left;
  clear: both;
  top: 3px;
}

#note-list-view-ctrl .note-list-view-item-note-template {
  clear: both;
}

#note-list-view-ctrl .note-list-view-item-note-template aside {
  position: absolute;
  display: block;
  width: 27%;
  height: 100%;
  background: transparent;
}

#note-list-view-ctrl .note-list-view-item-note-template .template-image {
  width: 27px;
  height: 27px;
  margin: auto;
}

#note-list-view-ctrl .note-list-view-item-note-template .template-nick {
  font-size: 12px;
  font-weight: bold;
  margin-left: 27px;
}

#note-list-view-ctrl .template-title {
  margin-top: 15px;
  font-weight: 100;
  word-wrap: break-word;
}

#note-list-view-ctrl .template-text span:hover {
  cursor: pointer;
  color: gray!important;
  text-shadow: 1px 1px white;
}

//#note-list-view-ctrl .template-title:hover {
//  cursor: pointer;
//}

#note-list-view-ctrl .template-title span {
  position: relative;
  left: 9px;
  font-size: 15px;
  display: table;
  //font-weight: bold;
}

#note-list-view-ctrl .template-text {
  margin-top: 3px;
  margin-right: 9px;
  font-size: 12px;
  word-wrap: break-word;
}

#note-list-view-ctrl .template-link {
  margin-top: 6px;
  font-size: 12px;
  width: inherit;
  word-wrap: break-word;
}

#note-list-view-ctrl .template-link a {
  color: #4682B4;
}

#note-list-view-ctrl .template-text span {
  color: black!important;
}

#note-list-view-ctrl .template-action {
  margin-top: 9px;
  margin-right: 9px;
  font-size: 9px;
  text-transform: uppercase;
}

#note-list-view-ctrl .template-action .th-user-actions {
  position: relative;
  top: -9px;
  float: right;
  opacity: 0.0;
  cursor: pointer;
}

//#note-list-view-ctrl .note-list-view-item-template span.th-note-title-action {
//  top: 6px;
//  position: relative;
//}

#note-list-view-ctrl .template-action .th-user-actions li {
  float: left;
  margin-left: 6px;
}

#note-list-view-ctrl hr {
  position: relative;
  border-top:    1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  //width: calc(100% - 33px);
  //width: 99%;
}

#note-list-view-ctrl .th-user-actions .th-glyph {
  color: gray;
  font-size: 18px;
  text-shadow: 1px 1px white;
}

/* ----------------------------------------------------------------------------------- */

.note-hub .search-notes {
  position: relative;
  width: 90%;
  margin: 18px auto;
  min-height: 36px;
}

#input-search-notes {
  width: 78%;
  margin-right: 9px;
  border: 1px solid #23a96e;
  height: 24px;
  border-radius: 3px;
  float: left;
  padding: 0 0 0 3px;
  font-size: 13px;
  /* border: none; */
  background: #23a96e !important;
  box-shadow: 1px 1px 9px rgba(0,0,0,0.6) !important;
}

#input-search-notes:focus {
  outline: none !important;
  border: 1px solid #5DC396 !important;
  background: #23a96e !important;
  border-radius: 3px;
}

.note-hub .search-notes .th-glyph {
  font-size: 21px;
}

.note-hub .search-notes .th-glyph:hover {
  cursor: pointer;
}

.note-hub .search-notes hr {
  position: relative;
  border-top:    1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  bottom: -15px;
  clear: both;
}

/* ---------------------------------------------------------------------------- th-dlg-note-item  */

.th-dlg-note-item
{
  position: relative;
  //top: 50%;
  //left: 50%;
  //min-height: 240px;
  //width: 310px;
  //margin-left: -155px;
  box-shadow: 0 0 11px rgba(0,0,0,0.6);
  //margin-top: 36px;
}

.th-dlg-note-item .template-status-icon {
  float: left;
  background-size: contain;
  width: 36px;
  height: 36px;
  margin-left: 9px;
}

.th-dlg-note-item .th-dlg-name
{
  width: 15%;
  float: left;
  //font-size: 15px;
  margin-bottom: 6px;
}

.th-dlg-note-item .th-dlg-data {
  margin-bottom: 18px;
}

.th-dlg-data.th-note-dlg-status {
  display: none;
}

.th-dlg-note-item .th-dlg-note-item-status-img {
  width: 36px;
  height: auto;
  margin-left: 9px;
  margin-top: -6px;
  position: fixed;
}

.th-dlg-note-item select.th-dlg-note-item-status {
  font-size: 12px;
  margin-left: 9px;
  width: 27%;
  margin-top: 9px;
}

.th-dlg-note-item .th-btn-add-note-post {
  width: 30%;
  margin: 15px auto;
}

.th-dlg-note-item .th-dlg-footer hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.th-dlg-note-item textarea {
  width: 96% !important;
  min-width: 96%;
  font-size: 13px;
  resize: none;
  overflow: hidden;
  text-indent: 3px;
  background: lighten(#23a96e, 3%);
  border: none;
  padding: 1px;
  box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
  margin-left: 6px;
  padding: 0 !important;
}

.th-dlg-note-item textarea:focus {
  background: lighten(#23a96e, 6%);
  outline: none !important;
  border: 1px solid lighten(#23a96e, 15%);
  box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
  margin-left: 6px;
}

//.th-dlg-note-item ::-webkit-input-placeholder {
//  color: darken(#23a96e, 15%);
//  font-size: 11px;
//}

.th-dlg-note-item textarea.th-dlg-note-item-text {
  min-height: 333px;
  overflow-y: auto;
}

.th-dlg-note-item textarea.th-dlg-note-item-title,
.th-dlg-note-item textarea.th-dlg-note-item-link,
.th-dlg-note-item textarea.th-dlg-note-item-tags {
  min-height: 27px;
}

.th-dlg-note-item textarea.th-dlg-note-item-image-link {
  min-height: 30px;
}


/* ---------------------------------------------------------------------------- show-note dialog */

.th-dlg-show-note {
  position: fixed;
  width: 450px;
  height: 630px;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin: -315px 0 0 -225px;
  box-shadow: 0 0 11px rgba(0,0,0,0.6);
  background: url(../../img/bg.jpg);
}

#th-dlg-template-show-note .th-dlg {
  position: fixed;
}

#th-dlg-template-show-note .th-full-title hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#th-dlg-template-show-note .th-full-btn hr {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.9);
}

#th-dlg-template-show-note .th-btn-add-note-post {
  width: 90px;
  margin: 13px auto;
}

#th-dlg-template-show-note .th-dlg-value {
  font-size: 13px;
  color: black;
}

#th-dlg-template-show-note .th-dlg-data {
  margin: 18px auto;
  min-height: 18px;
}

#th-dlg-template-show-note .th-dlg-show-note-content{
  overflow-y: auto;
  margin-bottom: 9px;
  max-height: 515px;
}

#th-dlg-template-show-note .th-note-content {
  overflow-y: auto;
  margin-bottom: 9px;
  max-height: 407px;
}


#th-dlg-template-show-note .th-dlg-show-note-title,
#th-dlg-template-show-note .th-note-title {
  //height: 63px;
}

//#th-dlg-template-show-note .th-dlg-show-note-title,
//#th-dlg-template-show-note .th-note-tags {
//  height: 42px;
//}

#th-dlg-template-show-note .th-dlg-title {
  height: 29px;
  line-height: 30px;
  font-size: 12px;
  text-shadow: 1px 1px #1b8355;
  letter-spacing: 1px;
}

#th-dlg-template-show-note .th-dlg-image-panel {
  display: block;
  position: absolute;
  float: right;
  width: 54px;
  height: 54px;
  right: 30px;
  top:  60px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}

#th-dlg-template-show-note .th-dlg-content .th-glyph {
  display: block;
  position: absolute;
  float: right;
  right: 30px;
  top:  60px;
  font-size: 36px;
}

#th-dlg-template-show-note .th-dlg-note-image {
  width: 200px;
  height: 120px;
  max-width: 200px;
  max-height: 120px;
}

#th-dlg-template-show-note .th-note-text {
  /* word-break: break-all; */
  text-overflow: ellipsis;
  width: 81% !important;
  min-width: 81%;
  font-size: 13px;
  resize: none;
  float: right;
  margin-right: 3px;
  padding: 0 9px 0 0;
  overflow-x: hidden;
  color: black;
}

#th-dlg-template-show-note .th-dlg-name {
  width: 13%;
  font-size: 10px;
  text-shadow: 1px 1px #FFFFFF;
  margin-left: 9px;
  clear: both;
  color: gray;
  overflow-x: hidden;
}

#th-dlg-template-show-note .th-full-title {
  background-color: #23a96e;
}

#th-dlg-template-show-note .th-full-footer {
  background-color: #23a96e;
  position: absolute;
  width: 100%;
  bottom: 0;
}

#th-dlg-template-show-note .th-full-btn {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#th-dlg-template-show-note .th-dlg-content {
  padding: 9px 0 9px 9px;
  text-align: left;
}

/*
#th-dlg-template-show-note .th-btn-comment-note,
#th-dlg-template-show-note .th-btn-sms-note,
#th-dlg-template-show-note .th-btn-ban-note,
#th-dlg-template-show-note .th-btn-add-comment-note
{
  margin: 13px auto;
  text-shadow: 1px 1px #1b8355;
}

#th-dlg-template-show-note .note-comment-panel .note-comment-info {
  color: rgb(150, 150, 150);
  font-size: 15px;
  text-shadow: 1px 1px white;
  width: 72%;
  margin: 27% auto;
  text-align: center;
}

#th-dlg-template-show-note .note-comment-panel .note-comment-info span {
  font-size: 18px;
  text-shadow: 1px 1px white;
  color: #494949;
}

#th-dlg-template-show-note .note-comment-panel .note-comment-info span.th-glyph {
  font-size: 90px;
  text-shadow: 1px 1px gray;
  color: white;
}

#th-dlg-template-show-note .th-full-btn ul.th-note-show-list-btns {
  width: 75%;
  margin: auto;
}

#th-dlg-template-show-note .th-full-btn li.th-note-show-btn {
  float: left;
  margin-right: 18px;
  width: initial;
  display: none;
}

#th-dlg-template-show-note .th-div-follow-note input,
#th-dlg-template-show-note .th-dlg-show-follow-note {
  font-size: 15px;
  margin-top: 24px;
  -webkit-appearance: checkbox;
}

#th-dlg-template-show-note .th-dlg-show-note-category {
  font-size: 15px;
  letter-spacing: 3.0px;
  font-weight: bold;
  text-transform: uppercase;
}
*/

/* ------------------------------------------------------------------- th-dlg-note-item  edit text */

.th-dlg-note-item .th-formatting-tools-panel {
  display: block;
  position: relative;
}

.th-dlg-note-item .th-formatting-tools-list {
  display: block;
  position: absolute;
  right: 0;
}

.th-dlg-note-item .th-formatting-tools-list .th-note-tool {
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  margin-right: 9px;
}

.th-dlg-note-item .th-formatting-tools-list .th-note-tool:hover {
  cursor: pointer;
}

.th-dlg-note-item .th-formatting-bold {
  background: url(../../img/note-hub/formatting-bold.png) no-repeat;
  background-size: contain;
}
.th-dlg-note-item .th-formatting-italic {
  background: url(../../img/note-hub/formatting-italic.png) no-repeat;
  background-size: contain;
}

.th-dlg-note-item .th-formatting-link {
  background: url(../../img/note-hub/formatting-link.png) no-repeat;
  background-size: contain;
}

.th-dlg-note-item .th-formatting-web {
  background: url(../../img/note-hub/formatting-web.png) no-repeat;
  background-size: contain;
}

.th-dlg-note-item .th-formatting-img {
  background: url(../../img/note-hub/formatting-img.png) no-repeat;
  background-size: contain;
}

a.th-note-show-dlg-link {
  color: dodgerblue!important;
  text-decoration: underline!important;
}

img.th-note-show-dlg-img {
  width: 90%;
  height: auto;
}

.th-dlg-note-item .th-dlg-name {
  font-size: 15px;
  color: black;
}

/* -------------------------------------------------- for small resolution of monitors */

@media screen and (max-height: 900px){
  .note-hub {
    width:  270px;
  }

  #note-list-view-ctrl {
    max-height: 288px;
  }

  .note-hub .search-notes .th-glyph {
    font-size: 18px;
  }

  .th-dlg-note-item {
    width: 270px;
    //margin-left: -135px;
  }

  .th-dlg-note-item textarea.th-dlg-note-item-text {
    min-height: 162px;
  }

  .th-dlg-note-item .th-dlg-data {
    margin-bottom: 9px;
  }

  .th-dlg-note-item .th-dlg-name {
    font-size: 12px;
  }

  #note-list-view-ctrl .template-text {
    font-size: 11px;
  }

  #note-list-view-ctrl .template-title {
    margin-top: 12px;
  }

  .th-dlg-note-item .th-formatting-tools-list .th-note-tool {
    width: 13px;
    height: 13px;
  }

  #th-dlg-template-show-note .th-dlg-show-note-content {
    max-height: 360px;
  }

  .th-dlg-show-note {
    width: 420px;
    height: 540px;
    margin: -270px 0 0 -210px;
  }

  #th-dlg-template-show-note .th-dlg-data {
    margin: 9px auto;
    min-height: 15px;
  }

  #note-list-view-ctrl .th-user-actions .th-glyph {
    font-size: 15px;
  }
}























